@media (max-width: 991px)
    .container
        max-width: 900px
    .header
        &__logo
            width: 220px
        &__official
            font-size: 10px
            span
                font-size: 16px
        &__phone
            margin-right: 10px
            font-size: 16px
    .button
        margin-right: 10px
        width: 135px
        height: 22px
        &_main
            margin-top: 55px
            width: 250px
            height: 40px
            border-radius: 5px
            font-size: 13px
            color: #fff
        &_submit
            width: 100%
            height: 20vh
            font-size: 14px
        &_mini
            height: 32px

    .promo
        min-height: 550px
        padding: 15px 10px 70px
        &__wrapper
            margin-top: 75px
        &__header
            font-size: 38px
        &__subheader
            font-size: 20px
        &__icons
            width: 400px
        &__icon
            font-size: 12px
            img
                margin-bottom: 16px
        &__link
            font-size: 14px
            margin-top: 14px
            margin-right: 10px

    .title
        font-size: 26px
    .advantage
        min-height: 420px
        padding: 50px 10px 60px
        &__wrapper
            margin-top: 35px
        &__block
            margin-right: 20px
        &__title
            margin-top: 24px
            font-size: 14px
        &__descr
            margin-top: 20px
            font-size: 12px
    .consultation
        min-height: 600px
        padding: 80px 10px 60px
        &__descr
            font-size: 18px
    .feed-form
        margin-top: 30px
        width: 280px
    .carousel
        padding: 60px 0
        &__inner
            width: 600px
            img
                width: 100%
        .slick-prev, .slick-next
            img
                width: 25px
                height: 40px
    .catalog
        padding-bottom: 75px
        &__tabs
            margin-top: 55px
        &__tab
            width: 200px
        &__content
            margin-top: 45px
            justify-content: space-evenly
            margin: 30px

    .clients
        margin-bottom: 50px
        &-block
            margin-top: 60px
            &:nth-child(2)
                margin-top: 60px
            &__item
                margin-left: 50px
            &__name
                font-size: 16px
            &__subname
                margin-top: 8px
                font-size: 12px
            &__descr
                margin-top: 15px
                width: 90%
                font-size: 14px
    .footer
        &__info
            width: 400px
            height: 250px
        &__addr
            margin-bottom: 30px
            font-size: 17px
        &__phone
            font-size: 18px
            margin-bottom: 22px

    .modal
        width: 320px
        padding: 18px 20px 30px 20px
        &__close
            top: 35px
            font-size: 35px
            right: -35px
        &__subtitle
            font-size: 15px
        &__descr
            font-size: 12px
        .button
            height: 15vh

@media (max-width: 768px)
    .container
        max-width: 720px
    .header
        &__logo
            width: 200px
        &__official
            font-size: 8px
            span
                font-size: 12px
        &__phone
            margin-right: 10px
            font-size: 12px
    .button
        margin-right: 10px
        margin-top: 5px
        width: 110px
        height: 20px
        font-size: 10px
        &_main
            margin-top: 30px
            width: 215px
            height: 30px
            border-radius: 5px
            font-size: 12px
            color: #fff
        &_submit
            width: 100%
            height: 10vh
            font-size: 13px
        &_mini
            height: 30px
            font-size: 11px

    .promo
        min-height: 500px
        padding: 15px 10px 45px
        &__wrapper
            margin-top: 60px
        &__header
            font-size: 32px
        &__subheader
            font-size: 16px
        &__icons
            margin-top: 50px
            width: 370px
        &__icon
            font-size: 10px
            img
                margin-bottom: 10px
        &__link
            font-size: 12px
            margin-top: 12px
            margin-right: 10px
    .title
        font-size: 23px

    .advantage
        min-height: 380px
        padding: 40px 0px
        &__wrapper
            margin-top: 20px
            flex-direction: column
            align-items: center
            br
                display: none
        &__block
            margin-top: 20px
        &__title
            margin-top: 14px
            font-size: 12px
        &__descr
            margin-top: 10px
            font-size: 10px
    .consultation
        min-height: 540px
        padding: 50px 10px
        &__descr
            font-size: 15px
        .button
            height: 10vh
    .feed-form
        margin-top: 20px
        width: 240px
    .carousel
        padding: 30px 0
        &__inner
            width: 300px
        img
            width: 100%
        .slick-prev, .slick-next
            img
                width: 0px
    .catalog
        padding-bottom: 45px
        &__tabs
            margin-top: 35px
        &__tab
            width: 140px
            font-size: 14px
        &__content
            margin-top: 45px
            justify-content: space-evenly
            margin: 30px

    .clients
        margin-bottom: 50px
        &-block
            margin-top: 60px
            display: flex
            flex-direction: column
            margin: 0 auto
            margin-bottom: 25px
            img
                margin-bottom: 20px
            &:nth-child(2)
                margin-top: 40px
            &__item
                margin-left: 0
                text-align: center
            &__name
                text-align: center
                font-size: 16px
            &__subname
                text-align: center
                margin-top: 8px
                font-size: 12px
            &__descr
                text-align: center
                // margin-top: 15px
                width: 320px
                font-size: 14px

    .footer
        &__info
            padding: 15px 20px
            width: 350px
            height: 200px
        &__addr
            margin-bottom: 20px
            font-size: 15px
        &__phone
            font-size: 16px
            margin-bottom: 25px
        &__social-item
            margin: 10px
    .modal
        width: 280px
        padding: 18px 20px 30px 20px
        &__close
            top: 5px
            font-size: 45px
            right: -35px
        &__subtitle
            font-size: 15px
        &__descr
            font-size: 12px
        .button
            height: 10vh

@media (max-width: 576px)
    .container
        width: 100%
        padding: 0 10px
    .header
        &__logo
            width: 200px
        &__official
            font-size: 8px
            span
                font-size: 12px
        &__phone
            font-size: 10px

    .button
        margin-top: 5px
        width: 110px
        height: 20px
        font-size: 10px
        &_main
            margin-top: 30px
            width: 215px
            height: 30px
            border-radius: 5px
            font-size: 12px
            color: #fff
        &_submit
            width: 100%
            height: 10vh
            font-size: 13px
        &_mini
            height: 30px
            font-size: 11px

    .promo
        min-height: 500px
        padding: 15px 10px 45px
        &__wrapper
            margin-top: 60px
        &__header
            font-size: 32px
        &__subheader
            font-size: 16px
        &__icons
            margin-top: 50px
            width: 300px
        &__icon
            font-size: 10px
            img
                margin-bottom: 10px
        &__link
            font-size: 12px
            margin-top: 12px
            margin-right: 10px
    .title
        font-size: 23px

    .advantage
        min-height: 380px
        padding: 40px 0px
        &__wrapper
            margin-top: 20px
            flex-direction: column
            align-items: center
            br
                display: none
        &__block
            margin-top: 20px
        &__title
            margin-top: 14px
            font-size: 12px
        &__descr
            margin-top: 10px
            font-size: 10px
    .consultation
        min-height: 540px
        padding: 50px 10px
        &__descr
            font-size: 15px
        .button
            height: 10vh
    .feed-form
        margin-top: 20px
        width: 240px
    .carousel
        padding: 20px 0
        margin: 0 auto
        &__inner
            width: 220px
        img
            width: 100%
        .slick-prev, .slick-next
            img
                width: 0px
    .catalog
        padding-bottom: 45px
        // width: 350px
        &__tabs
            margin-top: 35px
        &__tab
            width: 100px
            font-size: 10px
            border: 1px solid #d0d0d0
            margin: 0 2px
        &__content
            margin-top: 45px
            justify-content: space-evenly
            margin: 30px

    .clients
        margin-bottom: 50px
        &-block
            margin-top: 60px
            display: flex
            flex-direction: column
            margin: 0 auto
            margin-bottom: 25px
            img
                margin-bottom: 20px
            &:nth-child(2)
                margin-top: 40px
            &__item
                margin-left: 0
                text-align: center
            &__name
                text-align: center
                font-size: 16px
            &__subname
                text-align: center
                margin-top: 8px
                font-size: 12px
            &__descr
                text-align: center
                // margin-top: 15px
                width: 320px
                font-size: 14px

    .footer
        &__info
            padding: 15px 20px
            width: 350px
            height: 200px
        &__addr
            margin-bottom: 20px
            font-size: 15px
        &__phone
            font-size: 16px
            margin-bottom: 25px
        &__social-item
            margin: 10px
    .modal
        width: 280px
        padding: 18px 20px 30px 20px
        &__close
            top: 5px
            font-size: 45px
            right: -35px
        &__subtitle
            font-size: 15px
        &__descr
            font-size: 12px
        .button
            height: 10vh
